* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1200px;
    margin: auto;
}

                                        /* Header */

                                        /* NAVIGATION */

.navigation {
    display: grid;
    grid-template-columns: 1fr 2fr 0.2fr 1fr;
    grid-template-rows: 100px;
    padding: 0 100px;
    
}

.nav_logo {
    display: grid;
    align-items: center;
    justify-items: start;
}

nav {
    display: grid;
    align-items: center;
    justify-items: end;
}

.nav_ul {
    grid-column-gap: 40px;
    
}

.nav_ul a {
    font-size: 0.8rem;
    color: #a7a7a7;
}

a:hover {
    color: #a89574;
}

.header_vertical_line {
    display: grid;
    height: 40px;
    border: none;
    border-left: 1px solid #dedede;
    justify-self: center;
    align-self: center;
}

.social_icons {
    display: grid;
    align-items: center;
    justify-items: start;
}

.social_icons_ul {
    grid-column-gap: 5px;
}

ul {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

li {
    list-style-type: none; 
}

a {
    text-decoration: none;
}

                                        /* Header Content Block */

.header_slider {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 30px;
    justify-items: center;
    align-items: center;
    text-align: justify;
    height: 500px;
    background-color: #2a2a2a;
}

h1 {
    font-size: 3rem;
    color: #a59477;
}

.header_slider {
    padding: 0 100px;
}

.slider_content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 30px;
}

.slider_content p {
    font-size: 1.8rem;
    color: #898989;
}

#slider_button {
    height: 40px;
    width: 140px;
    color: #4f4a41;
    background-color: #2a2a2a;
    border: 2px solid #a59477;
    border-radius: 5px;
}


                                        /* Intro Section */

.intro_section {
    height: 200px;
    padding: 40px 100px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: start;
    align-items: center;
    background-color: #f4f4f4;
}

.intro_section h2 {
    font-size: 1.6rem;
    color: #767676;
    font-family: "HelveticaNeue";
}

.intro_section p {
    font-size: 1.2rem;
    color: #888888;
}

.intro_buttons {
    height: 40px;
    width: 140px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

.left_btn {
    color: #a59477;
    border: 2px solid #a59477;
}
.right_btn {
    color: #a57780;
    border: 2px solid #a57780;
}

                                        /* Process Section */
                                        
.process_section {
    height: 300px;
    padding: 40px 100px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 10px;
}

.process_content {
    display: grid;
}

.process_section h2 {
    font-size: 1.6rem;
    color: #767676;
}

.circle_block {
    display: grid;
    grid-template-columns: 2fr 0.5fr 2fr 0.5fr 2fr 0.5fr 2fr 0.5fr 2fr;
    justify-items: center;
    align-items: center;
}

.circle_div {
    display: grid;
    justify-items: center;
    text-align: center;
    grid-row-gap: 18px;
}

.img_circle {
    height: 80px;
    width: 80px;
    border: 2px solid #a59477;
    border-radius: 100px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.circle_div h3 {
    
}

.circle_div p {
    font-size: 0.9rem;
}

.colortext {
    color: #a59477;
}

.arrow {
    display: grid;
    align-self: start;
    padding-top: 35px;
}



._1__Concepting {
  font-size: 18px;
  font-family: "HelveticaNeue";
  color: rgb(168, 149, 116);
  font-weight: bold;
  line-height: 3.611;
  text-align: left;
  position: absolute;
  left: 210.22px;
  top: 1223.391px;
  z-index: 132;
}
